<<<<<<< HEAD
body{
    background-color: black;
    
  
}
.container {
  background-image: url("imagensanimes/9000x.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px; /* Defina a altura do contêiner para tornar o fundo visível */
  background-color: #f0f0f0; /* Cor de fundo de fallback */
}


img {
   
  background-size: contain;
  }

  h1{
    color: aliceblue;
  }

  h2{
    color: aliceblue;
  }

  p{
    font-kerning: auto;
    color: aliceblue;
    font-size: 90%;
      width: 100px;
      height: 200px;
      border: 1px solid black;
      padding: 10px;
    
    
  }

 
  img {
    width: 400px; /* Define a largura desejada para todas as imagens */
    height: auto; /* A altura se ajustará automaticamente mantendo a proporção original */
    margin: 10px; /* Adicione margens para espaçamento entre as imagens, se necessário */
}


.video-container {
  text-align: center; /* Centraliza horizontalmente o conteúdo dentro do contêiner */
}

.video-container iframe {
  display: block; /* Faz o vídeo um bloco para alinhar corretamente o 'auto' das margens */
  margin: 0 auto; /* Centraliza horizontalmente o vídeo */
}


.image-container {
  display: flex;
  justify-content: space-between; /* Distribui as imagens igualmente no espaço disponível */
}

.image {
  flex: 1; /* Faz com que as imagens ocupem uma parte igual do espaço disponível */
  margin: 10px; /* Adicione margens para espaçamento entre as imagens */
}

button:hover {
  opacity: 0.5;
  transition: opacity 2s;
}
.caixa-comentários{
  position: absolute;
  bottom: 100px;
} 






=======
body{
    background-color: black;
    
  
}
.container {
  background-image: url("imagensanimes/9000x.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px; /* Defina a altura do contêiner para tornar o fundo visível */
  background-color: #f0f0f0; /* Cor de fundo de fallback */
}


img {
   
  background-size: contain;
  }

  h1{
    color: aliceblue;
  }

  h2{
    color: aliceblue;
  }

  p{
    font-kerning: auto;
    color: aliceblue;
    font-size: 90%;
      width: 100px;
      height: 200px;
      border: 1px solid black;
      padding: 10px;
    
    
  }

 
  img {
    width: 400px; /* Define a largura desejada para todas as imagens */
    height: auto; /* A altura se ajustará automaticamente mantendo a proporção original */
    margin: 10px; /* Adicione margens para espaçamento entre as imagens, se necessário */
}


.video-container {
  text-align: center; /* Centraliza horizontalmente o conteúdo dentro do contêiner */
}

.video-container iframe {
  display: block; /* Faz o vídeo um bloco para alinhar corretamente o 'auto' das margens */
  margin: 0 auto; /* Centraliza horizontalmente o vídeo */
}


.image-container {
  display: flex;
  justify-content: space-between; /* Distribui as imagens igualmente no espaço disponível */
}

.image {
  flex: 1; /* Faz com que as imagens ocupem uma parte igual do espaço disponível */
  margin: 10px; /* Adicione margens para espaçamento entre as imagens */
}

button:hover {
  opacity: 0.5;
  transition: opacity 2s;
}
.caixa-comentários{
  position: absolute;
  bottom: 100px;
} 






>>>>>>> 69107d5b89005e070c7315df8280e1c6b5ef38b1
  