body{
    background-color: black;
    
  
}
.container {
  background-image: url("imagensanimes/9000x.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px; /* Defina a altura do contêiner para tornar o fundo visível */
  background-color: #f0f0f0; /* Cor de fundo de fallback */
}


img {
   
  background-size: contain;
  }

  h1{
    color: aliceblue;
  }

  h2{
    color: aliceblue;
  }

  p{
    font-kerning: auto;
    color: aliceblue;
    font-size: 90%;
      width: 100px;
      height: 200px;
      border: 1px solid black;
      padding: 10px;
    
    
  }

 
  img {
    width: 400px; /* Define a largura desejada para todas as imagens */
    height: auto; /* A altura se ajustará automaticamente mantendo a proporção original */
    margin: 10px; /* Adicione margens para espaçamento entre as imagens, se necessário */
}
.pulse-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.pulse-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4CAF50;
  border-radius: 5px;
  opacity: 0;
  transform: scaleX(2) scaleY(2);
  transition: all 0.5s ease;
}
  
