<<<<<<< HEAD
body{
    background-color: black;
}
h1{
    color: aliceblue;
}
p{
    font-family: 'Kenia', cursive;
    color: aliceblue;
}

h2{
    color: white;
}

=======
body{
    background-color: black;
}
h1{
    color: aliceblue;
}
p{
    font-family: 'Kenia', cursive;
    color: aliceblue;
}

h2{
    color: white;
}

>>>>>>> 69107d5b89005e070c7315df8280e1c6b5ef38b1
